body {
    height: 100%;
    font-size: 1.815rem;
}

#links {
    font-size: .7rem;
}

h2 {
    text-align: center;
}

.back-cold {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  height: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(141,51,244,1) 52%, rgba(97,0,255,0.91) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(141,51,244,1) 52%, rgba(97,0,255,0.91) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(141,51,244,1) 52%, rgba(97,0,255,0.91) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;

  -webkit-animation: show 2s ease-in; /* Safari 4+ */
  -moz-animation:    show 2s ease-in; /* Fx 5+ */
  -o-animation:      show 2s ease-in; /* Opera 12+ */
  animation:         show 2s ease-in; /* IE 10+, Fx 29+ */
}

.back-temperate {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 100%;
  border: none;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(50,242,184,1) 52%, rgba(0,255,0,0.81) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(50,242,184,1) 52%, rgba(0,255,0,0.81) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(50,242,184,1) 52%, rgba(0,255,0,0.81) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;

  -webkit-animation: show 2s ease-in; /* Safari 4+ */
  -moz-animation:    show 2s ease-in; /* Fx 5+ */
  -o-animation:      show 2s ease-in; /* Opera 12+ */
  animation:         show 2s ease-in; /* IE 10+, Fx 29+ */
}

.back-hot {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 100%;
  border: none;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(239,223,50,1) 52%, rgba(255,0,0,0.81) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(239,223,50,1) 52%, rgba(255,0,0,0.81) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(239,223,50,1) 52%, rgba(255,0,0,0.81) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;

  -webkit-animation: show 2s ease-in; /* Safari 4+ */
  -moz-animation:    show 2s ease-in; /* Fx 5+ */
  -o-animation:      show 2s ease-in; /* Opera 12+ */
  animation:         show 2s ease-in; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}